.list {
  display: flex;
  flex-direction: column;
  row-gap: 40px;

  text-align: left;

  list-style-type: none;
}

.title {
  text-transform: capitalize;

  max-width: 95%;

  white-space: nowrap; 
  overflow: hidden; 
  text-overflow: ellipsis;
}

.item {
  position: relative;

  display: flex;
  justify-content: space-between;
  padding: 30px 20px;

  border: 1px solid #535bf2;
  border-radius: 12px;  
}

.link {
  width: 100%;
}

.button {
  position: absolute;
  top: 10px;
  right: 10px;

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 5px 10px;
}
