.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 999;
  transform: translate(-50%, -50%);

  width: 30%;
  padding: 50px 20px 30px;
  background-color: #242424;;

  border: 2px solid rgb(166, 137, 233);
  border-radius: 12px;
  box-shadow: -1px 3px 5px 3px rgba(14, 75, 148, 0.42);
  -webkit-box-shadow: -1px 3px 5px 3px rgba(14, 75, 148, 0.42);
  -moz-box-shadow: -1px 3px 5px 3px rgba(14, 75, 148, 0.42);
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 998;

  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.9);
}



.closeButton {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;

  padding: 5px 10px;
}