.form {
  display: flex;
  flex-direction: column;
  row-gap: 30px;

  width: 100%;
}

.label {
  width: 100%;

  text-align: left;
}

.input {
  width: 100%;
  padding: 10px 15px;
  border-radius: 12px;
  border: none;
}

.button {
  padding: 10px;
}